body {
  font-family: $ff-poppins;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0 auto;
}

.wrapper {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
}
